{{!-- 
Це код container файлу для task43 сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/task43"
--}}

<main>
  <div>
  
{{> breadcrumb}}

  <section class='mt-3'>
    <h2 class='text-center'>
      <b>{{newsBlock.title}}</b>
    </h2>

    <div class='row'>
      <div class='col-lg-12 col-md-12 col-12'>
        <img class='card-img-top' src='{{newsData.photo}}' alt='{{newsData.title}}'>
        <div>
          <h1><strong>{{newsData.head.heading}}</strong></h1>
          <p>{{newsData.head.description}}</p>
        </div>
        {{#each newsData.body}}
          <div>
            <h2>{{this.title}}</h2>
            <p>{{this.text}}</p>
          </div>
        {{/each}}
      </div>
    </div>

    <div class='row g-2 mt-2'>
      {{#each newsBlock.cards}}
        <div class='col-3'>
          <div class='card text-bg-dark'>
            <div class='card-header text-center'>
              <b>{{title}}</b>
              {{#if isNew}}
                <span class='badge text-bg-success rounded-pill'> 
                  New
                </span>
              {{/if}}

              {{#if isTop}}
                <span class='badge text-bg-danger rounded-pill'>
                    Top
                  </span>
              {{/if}}
            </div>
            <p class='card-body'>{{description}}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </section>

  <hr class='my-5' />

{{> shopnews}}

  <hr class='my-5' />

  </div>
</main>


