{{!-- 
Це код container файлу для task51 сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/task51"
--}}

<main>
<div>

{{> breadcrumb}}

<body>
  <div class="row">
    <h1 class="mb-5">{{header}}</h1>
    
    {{!-- contacts_data --}}
    <div ckass="col-8">
      <section>
        <h2>{{contacts_data.title}}</h2>
        <div>
          <button class="btn btn-warning"> {{contacts_data.buttons.0.text}} </button>
        </div>

        <div>
          <button class="btn btn-outline-warning"> {{contacts_data.buttons.1.text}} </button>
        </div>

      </section>

    </div>

    {{#with contacts_data.form.input}}
    <form>

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="surname">{{surname.label}}</label>
                <input type="text" class="form-control"  placeholder={{surname.placeholder}}>
                <small class="form-text text-muted">{{surname.caption}}</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="name">{{name.label}}</label>
                <input type="text" class="form-control" placeholder={{name.placeholder}}>
                <small class="form-text text-muted"> {{name.caption}} </small>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="phone">{{phone.label}}</label>
            <input type="text" class="form-control" placeholder={{phone.placeholder}}>
            <small class="form-text text-muted">{{phone.caption}}</small>
          </div>
          
          <div class="form-group">
            <label for="email">{{email.label}}</label>
            <input type="email" class="form-control" placeholder={{email.placeholder}}>
            <small class="form-text text-muted">{{email.caption}}</small>
          </div>
        </div>
      </div>
    {{/with}}

      {{!-- action_block --}}
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-success">Швидке замовлення</button>
          <button class="btn btn-danger">Видалити</button>
          <button class="btn btn-info">Детальніше</button>
          
          <h2>Всього</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Назва</th>
                <th scope="col">Ціна</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Ноут</td>
                <td>25 000 ₴</td>
              </tr>
              <tr>
                <td>Мишка</td>
                <td>25 000 ₴</td>
              </tr>
              <tr>
                <td>Клава</td>
                <td>25 000 ₴</td>
              </tr>
            </tbody>
          </table>
          
          <h3>Додаткова інформація</h3>
          <ul class="list-group">
            <li class="list-group-item">Всього товарів: 75 000 ₴</li>
            <li class="list-group-item">Купони: Немає</li>
            <li class="list-group-item">Доставка: Безкоштовно</li>
          </ul>
          
          <h3>Загальна вартість</h3>
          <p>Всього товарів: 75 000 ₴</p>
          
          <button class="btn btn-primary">Підтвердити замовлення</button>
          <button class="btn btn-outline-primary">Відмінити купони</button>
        </div>
      </div>
    </form>


    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="newProductInfo">
        <label class="form-check-label" for="newProductInfo">Отримувати інформацію про новинки</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-input" id="discountInfo" checked>
        <label class="form-check-label" for="discountInfo">Отримувати інформацію про знижки</label>
      </div>
    </div>

<br>
    
    

  </div>
</main>



