{{!-- 
Це код container файлу для task42 сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - '/task42'
--}}



<main>
  <nav>
    <ol class='breadcrumb mt-2'>
      <li class='breadcrumb-item'><a href='/'>Home</a></li>
      <li class='breadcrumb-item'><a href='/library/'>Library</a></li>
      <li class='breadcrumb-item active' aria-current='page'>Data</li>
    </ol>
  </nav>

  <div class='row'>
    <div class='col-md-6'>
      <div class='card'>
        <img class='card-img-top' src='{{productData.img}}' alt='{{productData.info.title}}'>
        <div class='card-body'>
          <h5 class='card-title'>{{productData.info.title}}</h5>
          <p class='card-text'>{{productData.info.about}}</p>
          <p class='card-text'> <h2> {{productData.info.price}} </h2></p>
          <ul class=' list-group list-group-flush col-md-4'>
            {{#each productData.info.category}}

            {{#if isHot}}
                <span class='badge text-bg-warning rounded-pill'>
                  Hot
                </span>
              {{/if}}

              {{#if isNew}}
                <span class='badge text-bg-primary rounded-pill'> 
                  New
                </span>
              {{/if}}

              {{#if isBonus}}
                <span class='badge text-bg-info rounded-pill'> 
                  Bonus
                </span>
              {{/if}}
              
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

  <div class='col-md-6'>
    <table class='table table-striped'>
      <thead>
        <tr>
          {{#each productData.item.head}}
            <th scope='col'>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each productData.item.body}}
          <tr>
            {{#each this}}
              <td>{{this}}</td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class='card'>
      <div class='card-body'>
        <h5 class='card-title'>{{productData.param.title}}</h5>
        <ul class='list-group list-group-flush'>
          {{#each productData.param.list}}
            <li class='list-group-item'>{{this}}</li>
          {{/each}}
        </ul>

        <section class='alert alert-danger'>
            <p>{{productData.alert.text}}</p>
        </section>
      </div>
    </div>
  </div>
    
  <div class='card mt-3'>
    <div class='card-body'>
      <div class='btn'>
        {{#each productData.actionList}}
          <button type='button' class='btn {{#if isWarning}}btn-warning{{/if}} {{#if isError}}btn btn-outline-danger{{/if}} {{#if isSuccess}}btn-success{{/if}} {{#if isGood}}btn-outline-success{{/if}}'>{{name}}</button>
        {{/each}}
      </div>
    </div>
  </div>

  <div>
    <div>
      <section class='row'>
        {{#each goodsOtherBlock.cards}}
          <div class='col-4 g-4'>

        {{> shopcard}}

          </div>
        {{/each}}
      </section>
    </div>
  </div>

  <hr class='my-5' />






  </div>
</main>



