{{!-- 
Це код container файлу для car сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/car"
--}}

<div>
<h1>{{heading.main.title}}</h1>
    <p>{{heading.main.text}}</p>
    <button type="button" class="btn btn-primary">{{heading.main.button_text.solid}}</button>
    <button>{{heading.main.button_text.outline}}</button>
    
    <h2>{{heading.second.title}}</h2>
    <p>{{heading.second.text}}</p>
    <button>{{heading.second.button_text.solid}}</button>
    <button>{{heading.second.button_text.outline}}</button>
    
    <h2>{{heading.subblock.title}}</h2>
    <p>{{heading.subblock.text}}</p>
    <button>{{heading.subblock.button_text.solid}}</button>
    <button>{{heading.subblock.button_text.outline}}</button>
    
    <h2>{{nested_display.title}}</h2>
    <h3>{{nested_display.children_display.title}}</h3>
    <p>{{nested_display.children_display.text}}</p>
    <button>{{nested_display.children_display.button.text}}</button>
    <p>{{nested_display.header_text}}</p>
    <button>{{nested_display.button.text}}</button>
    
    <h2>{{paragraph.title}}</h2>
    <p>{{paragraph.text}}</p>
    <ul>
      {{#each paragraph.list_name}}
        <li><a href="{{this.url}}">{{this.text}}</a></li>
      {{/each}}
    </ul>
    <button><a href="{{paragraph.button.url}}">{{paragraph.button.text}}</a></button>
</div>


